.hoverIcon {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--mantine-color-gray-6);
    &:hover{
        color: var(--mantine-color-turquoise-5);
        cursor: pointer;
    }
}

.header{
    border-bottom: 1px solid var(--mantine-color-gray-3);
    z-index: 1000;
}